In [1]:
%matplotlib inline
import pandas as pd
import matplotlib as plt

In [2]:
##1. csv 파일 불러오기 (convenient_store.csv)
constore = pd.read_csv('convenient_store.csv')

In [3]:
##2. 전체 컬럼 정보, null 값 유무 확인
constore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   area         177 non-null    object
 1   company      177 non-null    object
 2   hourly_wage  177 non-null    int64
 3   area1        177 non-null    object
 4   area2        177 non-null    object
 5   outlier      177 non-null    int64
 6   name         177 non-null    object
dtypes: int64(2), object(5)
memory usage: 9.8+ KB

In [19]:
##3. 개수, 평균, 편차, 최소, 최대값 확인
# 평균
constore.mean()

hourly_wage    5787.627119
outlier           0.000000
dtype: float64

In [20]:
# 개수
constore.count()

area           177
company        177
hourly_wage    177
area1          177
area2          177
outlier        177
name           177
dtype: int64

In [54]:
# 편차
constore.std()

hourly_wage       352.318646
outlier             0.000000
more_than_6000      0.442871
dtype: float64

In [21]:
# 최소값
constore.min()

area                          강남구 논현1동
company        BGF Retail CU 신촌세브란스병원점
hourly_wage                       5580
area1                              강남구
area2                              가산동
outlier                              0
name                              7/11
dtype: object

In [22]:
# 최대값
constore.max()

area                        중랑구 신내1동
company        편의점/ 세븐일레븐 압구정 리갈펠리스점
hourly_wage                     7500
area1                            중랑구
area2                            화곡동
outlier                            0
name                            gs25
dtype: object

In [31]:
##4. 지역에 대한 통계, 개수, 유니크한 정보, 제일 빈도가 높은 지역
# area1 에 대한 통계 및 개수
constore['area1'].value_counts()

강남구     21
마포구     13
중구      12
송파구     11
종로구     11
영등포구    10
구로구      9
성동구      9
강서구      9
광진구      8
성북구      8
서대문구     7
서초구      7
은평구      7
관악구      6
용산구      5
노원구      5
동대문구     4
양천구      3
동작구      3
금천구      3
중랑구      2
강북구      2
강동구      1
도봉구      1
Name: area1, dtype: int64

In [33]:
# 유니크한 지역의 개수
constore['area1'].nunique()

25

In [38]:
# 제일 빈도가 높은 지역
constore[constore['area1'] == constore['area1'].max()]['area1']

139    중랑구
140    중랑구
Name: area1, dtype: object

In [64]:
##5. 시간 당 급여가 6500원 이상인 지역의 편의점 정보 출력 (상위 10개만)
constore[constore['hourly_wage'] >= 6500]['company'].head(10)

29           세븐일레븐편의점
30        세븐일레븐 청담그린점
37       세븐일레븐 서울호서대점
53       세븐일레븐 구로리공원점
60              세븐일레븐
72        세븐일레븐 마포홍익점
89     세븐일레븐 한양대학교병원점
135             세븐일레븐
137         세븐일레븐 북창점
145          CUBE pc방
Name: company, dtype: object

In [63]:
##6. 시간 당 급여가 높은 순서로 정렬 (sort_value() 함수 사용, 상위 10개만 출력)
constore['hourly_wage'].sort_values(ascending=False).head(10)

29     7500
173    7500
160    6900
135    6690
37     6600
172    6600
137    6500
161    6500
53     6500
145    6500
Name: hourly_wage, dtype: int64

In [44]:
##7. 영등포구에서 시간 당 급여가 6000원 이상인 편의점 검색
constore[(constore['area1']=='영등포구') & (constore['hourly_wage'] >= 6000)]['company']

13              gs25
106       세븐일레븐 여의역점
107    세븐일레븐 영등포 2호점
Name: company, dtype: object

In [45]:
##8. CU 편이점만 출력 (상위 10개만)
constore[constore['name']=='CU'].head(10)

         area           company  hourly_wage area1 area2  outlier name
141   강남구 논현동          CU 논현힐탑점         5600   강남구   논현동        0   CU
142   강남구 논현동           CU논현한미점         6000   강남구   논현동        0   CU
143   강남구 신사동           CU 로데오점         6100   강남구   신사동        0   CU
144  강남구 대치4동           CU 대치본점         6000   강남구  대치4동        0   CU
145  강남구 논현1동          CUBE pc방         6500   강남구  논현1동        0   CU
146  강북구 수유3동           CU수유중앙점         5600   강북구  수유3동        0   CU
147   강서구 방화동          CU방화오피스점         6000   강서구   방화동        0   CU
148   관악구 신원동           CU신림인석점         5580   관악구   신원동        0   CU
149   관악구 봉천동           CU관악상상점         5580   관악구   봉천동        0   CU
150   구로구 구로동  CU편의점(고대구로병원1호점)         5580   구로구   구로동        0   CU

In [46]:
##9. 지역 컬럼(location)을 추가한 다음, in Seoul 이라는 값 저장, 상위 5개 출력
constore['location'] = 'in Seooul'

In [47]:
constore.head(10)

       area        company  hourly_wage area1 area2  outlier  name   location
0   강남구 삼성동     gs25 오크우드점         5600   강남구   삼성동        0  gs25  in Seooul
1   강남구 삼성동      gs25 코엑스점         5700   강남구   삼성동        0  gs25  in Seooul
2   강서구 화곡동        gs25편의점         5600   강서구   화곡동        0  gs25  in Seooul
3   광진구 군자동           gs25         5580   광진구   군자동        0  gs25  in Seooul
4   광진구 중곡동      gs25중곡대원점         5580   광진구   중곡동        0  gs25  in Seooul
5   구로구 구로동      gs25구로동양점         6000   구로구   구로동        0  gs25  in Seooul
6   구로구 구로동      gs25구로동양점         5580   구로구   구로동        0  gs25  in Seooul
7  동대문구 장안동      gs25장안중앙점         5600  동대문구   장안동        0  gs25  in Seooul
8   마포구 서교동     gs25 홍대아트점         5600   마포구   서교동        0  gs25  in Seooul
9  성동구 금호동4  gs25 서울숲푸르지오점         6000   성동구  금호동4        0  gs25  in Seooul

In [50]:
##10. 6000원 이상 컬럼 추가(more_than_6000) -> True, False 값 저장 (상위 20개 출력)
constore['more_than_6000'] = (constore['hourly_wage']>=6000)
constore['more_than_6000'].head(20)

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13     True
14    False
15    False
16    False
17    False
18     True
19    False
Name: more_than_6000, dtype: bool

In [51]:
##11. more_than_6000 컬럼에서 True인 데이터들의 평균, 개수, 편차 등의 정보 출력
# 평균
constore[constore['more_than_6000']==True].mean()

hourly_wage       6275.531915
outlier              0.000000
more_than_6000       1.000000
dtype: float64

In [52]:
# 개수
constore[constore['more_than_6000']==True].count()

area              47
company           47
hourly_wage       47
area1             47
area2             47
outlier           47
name              47
location          47
more_than_6000    47
dtype: int64

In [53]:
# 편차
constore[constore['more_than_6000']==True].std()

hourly_wage       360.517795
outlier             0.000000
more_than_6000      0.000000
dtype: float64

In [83]:
##12. more_than_6000 이름의 함수를 생성하고, 
#6000원이상인 경우 A group, 아니면 B group을 반환하는 함수 생성
# def more_than_6000(title: str):
#     if title>='6000':
#         return constore.groupby['A']
#     else:
#         return constore.groupby['B']
def more_than_6000(x)
# 그냥 def more_than_6000(x) 라고만 해도 됨. '-> int'는 반환값의 타입을 의미
    if x>=6000:
        return 'A group'
    else:
        return 'B group'

SyntaxError: invalid syntax (<ipython-input-83-8ad4d7ae5035>, line 8)

In [85]:
##13. more_than_6000_f 컬럼 생성하고 more_than_6000 함수의 결과를 저장
constore['more_than_6000_f'] = constore['hourly_wage'].apply(more_than_6000(constore['hourly_wage'])

SyntaxError: unexpected EOF while parsing (<ipython-input-85-c5844dd83fb9>, line 2)

In [38]:
##14. 지금까지의 결과 상위 10개를 출력
constore.head()

In [66]:
##15-1. more_than_6000가 True인 데이터의 지역과 시간당 급여를 가진 새로운 데이터프레임 생성(data2)
constore2['area'] = constore[constore['more_than_6000']==True]['area1']
constore2['hourly_wage'] = constore[constore['more_than_6000']==True]['hourly_wage']
##15-2. data2 데이터를 시간당 급여 순으로 정렬 (높은순)

NameError: name 'constore2' is not defined

In [40]:
##16. data2를 darta2.csv 파일로 저장

In [41]:
##17. 시간당 급여를 histogram 으로 표시 (matplotlib hist() 사용)

In [42]:
##18. 시간당 급여를 box 차트로 표시

In [43]:
##19. 시간당 급여를 box 차트로 표시(이름순으로)

In [44]:
##19. 시간당 급여를 box 차트로 표시(지역순으로)

### Font manager

In [73]:
##20. 한글 표시되게 matplotlib 지정

In [74]:
import matplotlib.font_manager as fm

In [75]:
# 로컬에 저장된 font 종류와 위치 알아내기
font_list = [(f.name, f.fname)for f in fm.fontManager.ttflist if 'Gothic' in f.name]
# print(font_list)

In [77]:
# font_name 얻기
font_name = fm.FontProperties(fname='C:\\WINDOWS\\Fonts\\msgothic.ttc').get_name()
# print(font_name)

In [46]:
##21. 시간당 급여를 box 차트로 표시(지역순으로) <- 다시 실행

In [47]:
##22-1. 지역구별 box 차트(플롯) 
##22-2. 폰트 사이즈 6

In [49]:
##23-1. 지역구별 box 차트(플롯), 지역구가 세로로 표시
##23-2. 폰트 사이즈 6